/* CSS RESET TRICK */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL VARS */
:root {
  --BodyBGColor: #f4f8f7;
  --HeaderBgColor: #36404a;
  --InputBgColor: #4b535e;
  --TicketHubTheme: #16aa9c;
  --BorderStyle: 1px solid #e2e2e2;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: var(--BodyBGColor);
}
